.place__url-link {
  margin: 0;
  text-decoration: underline;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .1s linear;
}

.place__url-link:hover {
  opacity: .8;
}
