.lead__subtitle {
  width: 63%;
  margin: 0 auto 64px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 90%;
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 660px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
