@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
.cover {
  margin: 0 auto;
  background-image: url(../../images/cover-route-66.jpg);
  background-size: cover;
  background-position: center;
  width: 92.5%;
  max-width: 1184px;
  min-width: 320px;
  color: white;
  aspect-ratio: 8 / 5;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
