.cover__title {
  margin: 0 auto 32px;
  text-decoration: none;
  max-width: 656px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 660px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
