.cover__title {
  width: 100%;
  position: absolute;
  top: calc((283 / 740) * 100%);
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  max-width: 656px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 660px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
