@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);

.footer {
  width: 90%;
  margin: 92px auto 0;
  padding-bottom: 24px;
  max-width: 1184px;
  color: white;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 400px) {
  .footer {
    display: inline-block;
    margin-top: 64px;
    padding-left: 16px;
    flex-direction: column;
  }
}
