.footer {
  box-sizing: border-box;
  width: 92.5%;
  max-width: 1184px;
  margin: 92px auto 0;
  padding-bottom: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    width: 52.5%;
    margin: 64px 42.5% 0 5%;
    padding: 0 0 24px;
    flex-direction: column;
  }
}
